fastapi
fastapi-users[sqlalchemy]
uvicorn[standard]
greenlet
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-dotenv
jinja2
chromadb
qdrant-client
langchain
langchain-anthropic
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
langchain-qdrant
sentence-transformers
pypdf
docx2txt
python-magic
python-pptx
unstructured
msoffcrypto-tool
openpyxl
pandas
onnxruntime
tiktoken
