[Unit]
Description=Cognosa Webapp
After=docker.service network.target
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/cognosa
ExecStart=/usr/bin/docker compose -f /home/ubuntu/cognosa/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /home/ubuntu/cognosa/docker-compose.yml down
TimeoutStartSec=0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target