:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.bg-tc-100 {
  background-color: var(--theme-color-100) !important;
}
.bg-tc-200 {
  background-color: var(--theme-color-200) !important;
}
.bg-tc-300 {
  background-color: var(--theme-color-300) !important;
}
.bg-tc-400 {
  background-color: var(--theme-color-400) !important;
}

.bc-tc-100 {
  border-color: var(--theme-color-100) !important;
}
.bc-tc-200 {
  border-color: var(--theme-color-200) !important;
}
.bc-tc-300 {
  border-color: var(--theme-color-300) !important;
}
.bc-tc-400 {
  border-color: var(--theme-color-400) !important;
}

.btn-tc-200-300 {
  background-color: var(--theme-color-200) !important;
  border-color: var(--theme-color-200) !important;
}
.btn-tc-200-300:hover {
  background-color: var(--theme-color-300) !important;
  border-color: var(--theme-color-300) !important;
}
.btn-tc-200-300:active {
  background-color: var(--theme-color-400) !important;
  border-color: var(--theme-color-400) !important;
}

.btn-tc-300-400 {
  background-color: var(--theme-color-300) !important;
  border-color: var(--theme-color-300) !important;
}
.btn-tc-300-400:hover {
  background-color: var(--theme-color-400) !important;
  border-color: var(--theme-color-400) !important;
}
.btn-tc-300-400:active {
  background-color: var(--theme-color-500) !important;
  border-color: var(--theme-color-500) !important;
}
