alembic
argon2-cffi
asyncpg
cachetools
docx2txt
fastapi-users-db-sqlalchemy
google
google-genai
greenlet
grpcio-status
h2
httptools
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-qdrant
msoffcrypto-tool
openpyxl
pandas
pip
psycopg2-binary
python-docx
python-pptx
rsa
sentence-transformers
unstructured
uvloop
watchfiles
